.dashboardTasks {
  width: 100%;
  max-height: 300px;
  background: #fff;
  flex-grow: 1;
  border: 3px solid #e9ecef;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    i {
      cursor: pointer;
      &:hover {
        color: #9B9B9B;
      }
    }
  }
  &__list {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    overflow: auto;
  }
  .dashboardTask {
    padding: 5px 0;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    &__date {
      font-size: 14px;
      font-weight: 500;
      &_red {
        color: rgb(255, 137, 137);
      }
    }
    a, a:hover {
      color: #9B9B9B;
      text-decoration: underline;
      &:hover {
        color: #4A4A4A;
      }
    }
  }
}